/*
    FILE : 
      template.ts 
    TITLE : 
      템플릿
    CREATED : 
      2022.06.27
*/

/////////////////////////////////////////////////////////////////////
//
//  IMPORT
//

/////////////////////////////////////////////////////////////////////
//
//  CONST
//

/////////////////////////////////////////////////////////////////////
//
//  VARIABLE
//

/////////////////////////////////////////////////////////////////////
//
//  TYPE & INTERFACE & CLASS
//

/////////////////////////////////////////////////////////////////////
//
//  PRIVATE FUNCTIONs
//

/////////////////////////////////////////////////////////////////////
//
//  EXPORTS
//
